.container-books {
    display: grid;
    grid-template-areas: 'bone btwo bthree bfour';
    justify-items: center;
}
#book-new01{
    height: 300px;
}
#book-new02{
    height: 300px;
}
#book-new03{
    height: 300px;
}
#book-new04{
    height: 300px;
}