header {
  position: relative;
  color: white;
}

header img {
  height: 350px;
  width: 100%;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.herotext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 180%;
  border-bottom: solid;
}

.loanform {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 80px 320px 50px;
      grid-template-rows: 80px 320px 50px;
}

form {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50px 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px;
}

form input {
  border: solid white;
  margin: 10px;
  height: 23px;
  border-radius: 5px;
  padding: 3px;
  -webkit-box-shadow: 2px 5px 5px #929191;
          box-shadow: 2px 5px 5px #929191;
}

#txtBook {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#txtName {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

#txtWriter {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#txtEmail {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

#txtAdress {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

#loan {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.btn {
  background-color: #DB4437;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 2px 5px 5px #929191;
          box-shadow: 2px 5px 5px #929191;
}

.btn:hover {
  background-color: #DB4437;
  color: rgba(70, 8, 8, 0.945);
}

.area-buttons {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.vanilla-calendar {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 550px) {
  .btn {
    height: 30px;
    width: 100px;
  }
  .loanform {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 180px 320px 30px;
        grid-template-rows: 180px 320px 30px;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  form {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: start;
        align-self: start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50px 50px 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
  }
  #txtBook {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  #txtName {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  #txtWriter {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  #txtEmail {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  #txtAdress {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  #loan {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .area-buttons button {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=laaneboersen.css.map */