$bg-color-orange:#DB4437;
$bg-color-darkred: rgba(70, 8, 8, 0.945);
$bg-color-white:#fff;
$bg-color-black:#000;

header {
    position: relative;
    color: white;
  }
  header img {
    height: 350px;
    width: 100%;
    filter: brightness(25%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
  }
  .herotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 180%;
    border-bottom: solid;
  }
form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px 50px 50px 100px;
}
form input {
  border: solid white;
    margin: 10px;
    height: 23px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 2px 5px 5px rgb(146, 145, 145);
    }
#txtBook {
    grid-column-start: 2;
    grid-row-start: 1;
}
#txtName {
    grid-column-start: 2;
    grid-row-start: 2;
}
#txtEmail {
    grid-column-start: 3;
    grid-row-start: 2;
}
#txtAdress {grid-column-start: 2;
    grid-column-end: 4;
grid-row-start: 3;
}
#loan {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
}
.btn {
    background-color: $bg-color-orange;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  color: $bg-color-white;
  font-weight: bold;
  height: 40px;
  width: 200px;
  justify-self: center;
  box-shadow: 2px 5px 5px rgb(146, 145, 145);
  }
  .btn:hover {
    background-color: $bg-color-orange;
    color: $bg-color-darkred;
  }

  @media only screen and (max-width: 550px) {
.btn {
    height: 30px;
    width: 100px;
}
  }