
header {
    position: relative;
    color: white;
  }
  header img {
    height: 350px;
    width: 100%;
    filter: brightness(25%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
  }
  .herotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 180%;
    border-bottom: solid;
  }
.takdiv {
    display: grid;
    grid-template-rows: 200px 200px;
    font-family: sans-serif;
    justify-items: center;
}
.taksec {
    width: 75%;
    margin: 10px;
    margin-top: 20px;
    grid-row-start: 1;
    box-shadow: 2px 5px 5px rgb(146, 145, 145);
    padding: 3px;
    border-radius: 5px;
}
.fartsec {
    width: 75%;;
    margin: 10px;
    grid-row-start: 2;
    margin-top: 20px;
    box-shadow: 2px 5px 5px rgb(146, 145, 145);
    padding: 3px;
    border-radius: 5px;
}