$bg-color-orange:#DB4437;
$bg-color-darkred: rgba(70, 8, 8, 0.945);
$bg-color-white:#fff;
$bg-color-black:#000;

.joinpage {
    grid-template-columns: 50% 25% 25%;
    display: grid;
}
header {
  position: relative;
  color: white;
}
header img {
  height: 350px;
  width: 100%;
  filter: brightness(25%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}
.herotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 180%;
  border-bottom: solid;
}
  .joinform {
    color: $bg-color-darkred;
    max-width: 400px;
    margin-right: 50px;
    grid-column-start: 1;
    justify-self: center;
  }
  .msgform {
    display: grid;
    grid-template-columns: 75% 75%;
    height: 350px;
  }
.msgform input {
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
border: solid white;
height: 19px;
border-radius: 5px;
padding: 3px;
width: 213px;
box-shadow: 2px 5px 5px rgb(146, 145, 145);

}
.colone {
  grid-column-start: 1;
  justify-self: end;
}
#txtMessage {
  border: none;
  font-family: sans-serif;
  border-radius: 5px;
  resize: none;
  padding: 3px;
  margin-top: 10px;
  box-shadow: 2px 5px 5px rgb(146, 145, 145);
}
.coltwo {
  grid-column-start: 2;
  justify-self: start;
  margin-left: 15px;
}
.joinlabel {
text-decoration: underline;
}
.btn {
    width: 225px;
    height: 30px;
    background-color: $bg-color-orange;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    color: $bg-color-white;
    font-weight: bold;
    grid-column-start: 2;
    box-shadow: 2px 5px 5px rgb(146, 145, 145);
  }
  .btn:hover {
    color: $bg-color-darkred;
  }
.joindiv {
  padding-top: 10px;
  padding-left: 10px;
    grid-column-start: 2;
    max-width: 70%;
    justify-self: center;
    color: $bg-color-darkred;
    margin-bottom: 17px;
    box-shadow: 2px 5px 5px rgb(146, 145, 145);
    border-radius: 5px;
}
.costdiv {
  padding-top: 10px;
  padding-left: 10px;
  grid-column-start: 3;
  max-width: 70%;
  justify-self: start;
  color: $bg-color-darkred;
  margin-bottom: 17px;
  box-shadow: 2px 5px 5px rgb(146, 145, 145);
  border-radius: 5px;
}
.joinhead {
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 10px;
}
.joininfo {
    margin-bottom: 7px;
}
@media only screen and (max-width: 550px) {
.joinpage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 250px 750px;
}
.joindiv {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 20px;
    justify-self: center;
    margin-left: 0%;
    width: 75%;    
}
.costdiv {
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: center;
  margin-left: 0%;
  width: 75%;
}
.joinform {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: center;
    margin-right: 0%;
    margin-left: 0%;
}
.msgform {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 350px 350px;
}
.colone {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
}
.coltwo {
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: center;
  margin-left: 0%;
}
}
