$bg-color-orange:#EF9B2A;
$bg-color-darkred: rgba(70, 8, 8, 0.945);
$bg-color-white:#fff;
$bg-color-black:#000;


  .joinform {
      margin-left: 800px;
    color: $bg-color-darkred;
    max-width: 400px;
  }
.msgform input {
margin: 10px;
border: solid;
border-color: $bg-color-orange;;
border-width: 2px;
height: 20px;
border-radius: 5px;
padding: 3px;
width: 213px;
}
#txtMessage {
    border-color: $bg-color-orange;
    border-width: 2px;;
  font-family: sans-serif;
  border-radius: 5px;
  resize: none;
  padding: 3px;
  margin-top: 10px;
margin-left: 10px;
}
.joinlabel {
text-decoration: underline;
}
.btn {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: $bg-color-darkred;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  color: $bg-color-white;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 30px;
  }
  .btn:hover {
    background-color: $bg-color-orange;
    color: $bg-color-darkred;
  }