/* Er lavet med grid med 4xauto så der er 4 på hver linje med lige med mellemrum */
.container-books {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    margin-bottom: 2px;
    grid-row-gap: 1em;
}
/* her er overskriften*/
#books-aktuel{
    display: grid;
    justify-content: center;
    margin: 2px;
    margin-bottom: 25px;
}
/* her er højden på de 4 forskellige billeder på 300px */
#book-new01{
    height: 300px;
}
#book-new02{
    height: 300px;
}
#book-new03{
    height: 300px;
}
#book-new04{
    height: 300px;
}

/* på mobildevice kommer billederne ned så er kun vises 2 billedere hver linje */
@media screen and (max-width: 550px) {
    .container-books{
        grid-template-columns: auto auto;
    }
}